body {
    background-color: #A67B5B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.wrap-login {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logintitle {
    margin-bottom: 20px;
}

.btn-login {
    margin-left: 10px;
    color: white;
    background-color: green;
}

.btn-cancel {
    margin-right: 10px;
    color: white;
    background-color: red;
}
